<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Your DotNetNuke instrumentation package -->
  <package id="DotNetNuke.Instrumentation" version="10.0.0" />

  <!-- Add a ServiceStack.Text version that is vulnerable to CVE-2025-6445 -->
  <package id="ServiceStack.Text" version="8.5.0" />
</packages>
